.header {
  background-color: $yellow;
  height: 70px;
  width: 100%;

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    svg {
      transition: all 0.3s ease;
      color: $blue;

      &:hover {
        transform: scale(1.1);
      }
    }

    .actions {
      @include flex-center();
      gap: 10px;
    }
  }
}
