.greetings {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 0;

  &__info {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 40px;
    width: 50%;

    &__greetings {
      font-size: 1.5rem;
      font-weight: 600;
      color: orange;
    }

    &__title {
      font-size: 5rem;
      font-weight: 700;

      &_highlighted {
        color: #ffcc00;
      }
    }

    &__description {
      font-size: 2rem;
      font-weight: 500;
    }
  }

  &__image {
    width: 50%;
    padding: 20px 0;
  }
}