node_modules/
env/
.env

*.log
npm-debug.log*
logs/
.eslintcache

dist/
build/
out/

# Next.js
/.next/
/next-env.d.ts
*.tsbuildinfo

.vscode/
.idea/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.vercel
