@import url('https://fonts.cdnfonts.com/css/pokemon-hollow');

.nav {
  .navList {
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      list-style: none;
    }

    a {
      font-size: 22px;
      padding: 0 12px;
      text-decoration: none;
      color: #ffcb05;
      text-shadow: -1px -1px 0 #2a75bb, 1px -1px 0 #2a75bb, -1px 1px 0 #2a75bb, 1px 1px 0 #2a75bb;
      font-weight: 700;
      transition: all 0.3s ease;

      &:hover {
        color: #2a75bb;
        text-shadow: 0 0 5px #fff,
        0 0 10px #2a75bb,
        0 0 20px #2a75bb;
      }
    }
  }
}
