@import url('https://fonts.cdnfonts.com/css/pokemon-hollow');

.nav {
  .navList {
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 12px;

    a {
      font-size: 22px;
      padding: 8px 12px;
      text-decoration: none;
      color: $yellow;
      text-shadow: -1px -1px 0 $lightBlue,
      1px -1px 0 $lightBlue,
      -1px 1px 0 $lightBlue,
      1px 1px 0 $lightBlue;
      font-weight: 700;
      transition: all 0.3s ease;
      display: inline-block;

      &:hover {
        color: $lightBlue;
        text-shadow: 0 0 5px $white,
        0 0 10px $lightBlue,
        0 0 20px $lightBlue;
        transform: translateY(-2px);
      }
    }
  }

  &.vertical {
    .navList {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 20px;

      a {
        font-size: 28px;
        padding: 0;
      }
    }
  }
}
