.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 5vw;
  background: #ffcc00;

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;

    svg {
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__bottom {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #cdc1c1;

    a {
      color: #ffcb05;
      text-shadow: -1px -1px 0 #2a75bb, 1px -1px 0 #2a75bb, -1px 1px 0 #2a75bb, 1px 1px 0 #2a75bb;
      transition: all 0.3s ease;

      &:hover {
        color: #2a75bb;
        text-shadow: 0 0 5px #fff,
        0 0 10px #2a75bb,
        0 0 20px #2a75bb;
      }
    }
  }
}