.greetings {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 0;
  width: 100%;
  @include theme-ready();
  background-color: var(--bg-primary);
  color: var(--text);

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 40px;
    width: 55%;

    &__greetings {
      font-size: 1.5rem;
      font-weight: 600;
      color: $lightBlue;
    }

    &__title {
      font-size: 5rem;
      font-weight: 700;
      color: $lightBlue;

      &_highlighted {
        color: $yellow;
        text-shadow: $textBordered;
      }
    }

    &__description {
      font-size: 2rem;
      font-weight: 500;
    }
  }

  &__image {
    width: 45%;
    padding: 20px 0;
  }
}