.greetings {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 0;
  width: 100%;
  @include theme-ready();
  background-color: var(--bg-primary);
  color: var(--text);

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }

  &__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: start;
    gap: 40px;

    &__greetings {
      font-size: 1.5rem;
      font-weight: 600;
      color: $lightBlue;
    }

    &__title {
      height: max-content;
      font-size: 5rem;
      font-weight: 700;
      color: $lightBlue;

      &_highlighted {
        color: $yellow;
        text-shadow: $textBordered;
      }

      @include media('mobile') {
        font-size: 3rem;
      }
    }

    &__description {
      margin: 40px 0 80px;
      font-size: 2rem;
      font-weight: 500;
      text-align: center;
      line-height: 1.2;

      @include media('mobile') {
        margin-bottom: 0;
        font-size: 1.5rem;
      }
    }

    @include media('mobile') {
      text-align: center;
      flex-direction: column;
    }
  }

  &__image {
    width: 45%;
    padding: 20px 0;
    transition: 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    @include media('mobile') {
      width: 100%;
    }
  }

  &__startBtn {
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.02);
      background-color: $yellow;
    }

    @include media('mobile') {
      display: none;
    }
  }

  @include media('mobile') {
    padding: 40px 0;
  }
}
