@use 'sass:color';

.evolution {
  width: 100%;
  padding: 100px 20px;
  @include theme-ready();
  background-color: var(--bg-secondary);
  color: var(--text);
  border-top: 1px solid color-mix(in srgb, var(--bg-secondary), black 3%);
  border-bottom: 1px solid color-mix(in srgb, var(--bg-secondary), black 3%);

  &__header {
    text-align: center;
    margin-bottom: 60px;
  }

  &__title {
    font-size: 2.5rem;
    color: $lightBlue;
    font-weight: 900;
    text-transform: uppercase;
  }

  &__accent {
    color: $yellow;
    text-shadow: $textBordered;
  }

  &__subtitle {
    font-size: 1.1rem;
    margin: 20px auto 0;
    line-height: 1.6;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
  }

  &__card {
    //@include theme-prop(background, bg-tertiary);
    @include theme-ready();
    background-color: var(--bg-tertiary);
    padding: 40px 30px;
    border-radius: 20px;
    border: 1px solid $blue;
    position: relative;
    transition: all 0.3s ease;

    &:hover {
      border-color: $lightBlue;
      transform: translateY(-5px);
      box-shadow: 0 15px 30px rgba(42, 117, 187, 0.08);
    }
  }

  &__badge {
    position: absolute;
    top: -12px;
    left: 30px;
    background: $lightBlue;
    color: $white;
    padding: 8px 12px;
    font-size: 0.75rem;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 4px;
    letter-spacing: 1px;
  }

  &__cardTitle {
    font-size: 1.3rem;
    color: $lightBlue;
    margin-bottom: 15px;
    font-weight: 800;
  }

  &__cardText {
    font-size: 0.95rem;
    color: $blue;
    line-height: 1.6;
    margin: 0;
  }

  &__deepInfo {
    margin-top: 50px;
    background: $warningBg;
    border-radius: 15px;
    padding: 25px 35px;
    border-left: 6px solid $yellow;
  }

  &__fact {
    color: $warningText;
    font-size: 1.05rem;
    line-height: 1.5;

    strong {
      color: $lightBlue;
    }
  }
}
