@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin theme-ready {
  transition-property: background-color, border-color, color, box-shadow;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}
