$black: #000000;
$white: #ffffff;
$white100: #F4F7FB;
$yellow: #ffcc00;
$yellow100: #C7A008;
$lightBlue: #2a75bb;
$blue: #334e68;

$warningBg: #fff3cd;
$warningText: #856404;

$fontPrimary: "Josefin Sans", sans-serif;

$typeFire: #FBA54C;
$typeWater: #539DDF;
$typeGrass: #5FBD58;
$typeElectric: #F2D94E;
$typeIce: #75D0C1;
$typeFighting: #D3425F;
$typePoison: #B763CF;
$typeGround: #DA7C4D;
$typeFlying: #A1BBEC;
$typePsychic: #FA8581;
$typeBug: #92BC2C;
$typeRock: #C9BB8A;
$typeGhost: #5F6DBC;
$typeDragon: #0C69C8;
$typeSteel: #5695A3;
$typeFairy: #EE90E6;
$typeDark: #595761;
$typeNormal: #A0A29F;

$pokemonTypes: (
    "fire": $typeFire,
    "water": $typeWater,
    "grass": $typeGrass,
    "electric": $typeElectric,
    "ice": $typeIce,
    "fighting": $typeFighting,
    "poison": $typePoison,
    "ground": $typeGround,
    "flying": $typeFlying,
    "psychic": $typePsychic,
    "bug": $typeBug,
    "rock": $typeRock,
    "ghost": $typeGhost,
    "dragon": $typeDragon,
    "steel": $typeSteel,
    "fairy": $typeFairy,
    "dark": $typeDark,
    "normal": $typeNormal
);
