@use './themes';
@use "./resetStyles";
@use "./variables" as *;
@use './mixins';
@use "sass:map";

:root {
  @each $name, $color in $pokemonTypes {
    --type-#{$name}: #{$color};
  }
}

body {
  background-color: var(--bg-primary);
  color: var(--text);
  transition: background-color 0.4s ease, color 0.4s ease;
  font-family: $fontPrimary;
}